[submodule "BasicUsage/libMHZ19"]
	path = BasicUsage/libMHZ19
	url = git@github.com:ATM-HSW/libMHZ19.git
[submodule "ThingSpeak/libMHZ19"]
	path = ThingSpeak/libMHZ19
	url = git@github.com:ATM-HSW/libMHZ19.git
[submodule "ThingSpeak/libHttp"]
	path = ThingSpeak/libHttp
	url = git@github.com:ATM-HSW/libHttp.git
[submodule "ThingSpeak/libThingSpeak"]
	path = ThingSpeak/libThingSpeak
	url = git@github.com:ATM-HSW/libThingSpeak.git
